#header {
  position: fixed;
  width: 100%;
  top: 0;
  left: 0;
  z-index: 1000;
}
.header__inner {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: rgba(166, 99, 99, 0.1);
  backdrop-filter: blur(15px);
  padding: 1rem;
}
.header__logo {
  font-size: 2rem;
  text-transform: uppercase;
  line-height: 1;
}
.header__logo em {
  font-size: 10px;
  display: block;
  text-align: center;
  color: var(--black200);
} 
.header__nav li {
  display: inline;
}
.header__nav li a {
  text-transform: uppercase;
  font-size: 14px;
  padding: 14px;
  position: relative;
}
.header__nav li a::before {
  content: '';
  width: calc(100% - 28px);
  height: 1px;
  background-color: var(--black);
  position: absolute;
  left: 14px;
  bottom: 10px;
  transform: scaleX(0);
  transition: all 0.3s;
}
.header__nav li:hover a::before {
  transform: scaleX(1);
}
.header__nav__mobile {
  display: none;
  width: 40px;
  height: 40px;
  cursor: pointer;
}
.header__nav__mobile span {
  display: block;
  width: 40px;
  height: 2px;
  background-color: var(--black);
  margin-top: 19px;
  position: relative;
}
.header__nav__mobile span::before {
  content: '';
  position:absolute;
  top: 6px;
  right:0;
  display: block;
  width: 40px;
  height: 2px;
  background-color: var(--black);
  transition: width 0.3s;
}
.header__nav__mobile span::after {
  content: '';
  position:absolute;
  bottom: 6px;
  left:0;
  display: block;
  width: 40px;
  height: 2px;
  background-color: var(--black);
  transition: width 0.3s;
}


@media (max-width: 800px) {
  .header__nav {
    display: none;
  }
  .header__nav.show {
    display: block;
  }
  .header__nav.show ul {
    display: block;
    position: absolute;
    top: 68px;
    right: 0;
    background-color: rgba(116, 69, 69, 0.1);
    backdrop-filter: blur(15px);
    z-index: 10000;
    min-width: 150px;
    padding: 20px 0;
  }
  .header__nav.show li {
    display: block;
    text-align: right;
  }
  .header__nav.show li a {
    display: inline-block;
    padding: 10px;
  }
  .header__nav.show + .header__nav__mobile span::before {
    width: 20px;
  }
  .header__nav.show + .header__nav__mobile span::after {
    width: 20px;
  }
  .header__nav__mobile {
    display: block;
  }
}